In [10]:
#importing
import pandas as pd
import numpy as np
from sklearn.feature_selection import VarianceThreshold

In [11]:
#loading data
df_numeric = pd.read_csv('df_numeric.csv')

In [12]:
df_numeric.head(5)

,MSSubClass,LotFrontage,LotArea,Street,LotShape,Utilities,LandSlope,OverallQual,OverallCond,YearBuilt,...,MoSold,YrSold,SalePrice,GarageYrBlt_missing_ind,LotFrontage_missing_ind,MasVnrArea_missing_ind,1stFlrSF_log,1stFlr_2ndFlr_SF,OverallGrade,SimplGarageQual
0,60,65.0,8450,2,4,4,3,7,5,2003,...,2,2008,208500,0,0,0,6.752270,1710,35,1
1,20,80.0,9600,2,4,4,3,6,8,1976,...,5,2007,181500,0,0,0,7.140453,1262,48,1
2,60,68.0,11250,2,3,4,3,7,5,2001,...,9,2008,223500,0,0,0,6.824374,1786,35,1
3,70,60.0,9550,2,3,4,3,7,5,1915,...,2,2006,140000,0,0,0,6.867974,1717,35,1
4,60,84.0,14260,2,3,4,3,8,5,2000,...,12,2008,250000,0,0,0,7.043160,2198,40,1

In [13]:
print(f"there are {df_numeric.shape[1]} features and {df_numeric.shape[0]} observations in dataset.")

there are 60 features and 1458 observations in dataset.

### Steps
1. Use features selections techniques significant features(above corr threshold) in our dataset
2. develop Model with significant features
3. add one by one other non-significant features to our Model to see how R-squared and adjust R-squared change